


/* ===================================
 Section: Featured !! SUNYANI CSS
==================================== */

#featured {
  background:#fcfcfc;
  position: relative;
  margin: 1;
  padding: 1;
  font-size: 20px;
  font-weight: ;
  color: #65656;
  line-height: 1.6em;
}
/* ===================================
 Section: Featured !! SUNYANI CSS ENDS
==================================== */




























